<div id="map"></div>

<%= form_tag brewmap_path, :method => 'get', class: 'input-group'  do %>
    <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search for a city...' %>
    <span class="input-group-btn">
      <%= button_tag(type: 'submit', class: "btn btn-default") do %>
        <i class="glyphicon glyphicon-search"></i>
      <% end %>
    </span>
  <% end %>

<%= javascript_include_tag 'markerclusterer' %>

<script src=""></script>

<script type="text/javascript">
function initialize() {

  var locations = <%= @markers.html_safe %>;

  window.map = new google.maps.Map(document.getElementById('map'), {
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var bounds = new google.maps.LatLngBounds();

    for (i = 0; i < locations.length; i++) {
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][0], locations[i][1]),
            map: map
        });

        bounds.extend(marker.position);

        google.maps.event.addListener(marker, 'click', (function (marker, i) {
            return function () {
                var name = locations[i][2];
                var address = locations[i][3];
                var telephone = locations[i][4];
                var url = locations[i][5];
                var html = "<b>" + name + "</b> <br/>" + address + "<br/>" + telephone + "<br/>" + "<a href=http://"+url+" target=_blank>"+url+"</a>";
                infowindow.setContent(html);
                infowindow.open(map, marker);
            }
        })(marker, i));
    }

    map.fitBounds(bounds);


}

function loadScript() {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAYIwla-PLCt43EXoOMRZIKILfvOPyRBG8'+ '&callback=initialize';
    document.body.appendChild(script);
}

window.onload = loadScript;
</script>
