<% content_for :nav_btn do %>
  <a class="btn btn-success navbar-btn" href="/breweries" role="button">Back</a>
<% end %>
<div class="container">
   <div class="col-lg-12 well">
      <div class="row">
<%= form_for(@brewery) do |f| %>
  <% if @brewery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brewery.errors.count, "error") %> prohibited this brewery from being saved:</h2>

      <ul>
      <% @brewery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-sm-9 col-sm-offset-3">
  <div class="row">
     <div class="col-sm-9 form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, :class => "form-control" %>
     </div>
  </div>
  <div class="row">
     <div class="col-sm-9 form-group">
        <%= f.label :city %><br>
        <%= f.text_field :city, :class => "form-control" %>
     </div>
  </div>
  <div class="row">
     <div class="col-sm-9 form-group">
        <%= f.label :state %><br>
        <%= f.text_field :state, :class => "form-control" %>
     </div>
  </div>
  <div class="row">
     <div class="col-sm-9 form-group">
        <%= f.label :psotal_code %><br>
        <%= f.number_field :postal_code, :class => "form-control" %>
     </div>
  </div>
  <div class="row">
     <div class="col-sm-9 form-group">
        <%= f.label :country %><br>
        <%= f.text_field :country, :class => "form-control" %>
     </div>
  </div>
  <div class="row">
     <div class="col-sm-9 form-group">
        <%= f.label :telephone %><br>
        <%= f.text_field :telephone, :class => "form-control col-md-1" %>
     </div>
  </div>
  <div class="row">
     <div class="col-sm-9 form-group">
        <%= f.label :brewery_type %><br>
        <%= f.select :brewery_type, Brewery.uniq.pluck(:brewery_type), { :prompt => "Please Select" }, :class => "form-control" %>
     </div>
  </div>
  <div class="row">
     <div class="col-sm-9">
        <%= f.submit "Submit", :class => "btn btn-success btn-block"%>
     </div>
  </div>
</div>
<% end %>
</div>
</div>
</div>
