<div class="container brewery-container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td><strong>Name:</strong></td>
                  <td><%= @brewery.name %></td>
                </tr>
                <tr>
                  <td><strong>Website:</strong></td>
                  <td><a href="http://<%= @brewery.brewery_url %>"><%= @brewery.brewery_url %></a></td>
                </tr>
                <tr>
                  <td><strong>Address:</strong></td>
                  <td><%= @brewery.street_address %></td>
                </tr>
                <tr>
                  <td><strong>City:</strong></td>
                  <td><%= @brewery.city %></td>
                </tr>
                <tr>
                  <td><strong>State:</strong></td>
                  <td><%= @brewery.state %></td>
                </tr>
                <tr>
                  <td><strong>Postal Code:</strong></td>
                  <td><%= @brewery.postal_code %></td>
                </tr>
                <tr>
                  <td><strong>Telephone:</strong></td>
                  <td><%= @brewery.telephone %></td>
                </tr>
                <tr>
                  <td><strong>Type:</strong></td>
                  <td><%= @brewery.brewery_type %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- BREWERY BEER DATATABLE -->
  <div class="col-md-12">
  <h3 class="review_title"><%= @brewery.name %>'s Beers</h3>
    <div class="datatable-style">
      <table id="brewery-beer-table" class="display table table-hover" data-source = "<%= beers_brewery_path(format: :json) %>">
        <thead>
          <tr>
            <th>Name</th>
            <th>Style</th>
            <th>ABV Content</th>
            <th>RateBeer Score</th>
          </tr>
        </thead>

        <tbody>
        </tbody>
      </table>
    </div>
  </div>

  <!-- BREWERY REVIEWS DATATABLE -->
  <div class="col-md-12">
  <h3 class="review_title"><%= @brewery.name %>'s Reviews</h3>
  <% if Review.where(brewery_id: params[:id]).blank? %>
  <div class="form-group row">
    <div class="col-sm-10">
      <h3>No reviews just yet, would you like to add the first!</h3>
      <%= link_to 'Write a Review', new_brewery_review_path(@brewery), class: "btn btn-primary" %>
    </div>
  </div>
  <% else %>
  <div class="datatable-style">
  <table id="brewery-review-table" class="display table table-hover" data-source = "<%= brewery_path(format: :json) %>">
    <thead>
      <tr>
        <th>User</th>
        <th>Ambiance</th>
        <th>Service</th>
        <th>Selection</th>
        <th>Food</th>
        <th>Value</th>
        <th>Comment</th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>
  </div>
  <% end %>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <%= link_to "Back", breweries_path, class: "btn btn-primary", method: :get %>
      <% if policy(@brewery).create? %>
      <%= link_to 'Edit', edit_brewery_path(@brewery), class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>
