<% content_for :nav_btn do %>
  <a class="btn btn-success navbar-btn" href="/breweries" role="button">Back</a>
<% end %>
<div class="container brewery-container">

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <h1><%= @brewery.name %><h1>
          <h5><a href="http://<%= @brewery.brewery_url %>" target="_blank"><%= @brewery.brewery_url %></a></h5>
          <h5><%= @brewery.street_address %> <%= @brewery.city %>, <%= @brewery.state %> <%= @brewery.postal_code %></h5>
          <h5><%= @brewery.telephone %></h5>
          <h5><%= @brewery.brewery_type %></h5>
        </div>
      </div>
      </div>
    </div>

  <!-- BREWERY BEER DATATABLE -->
  <div class="col-md-8 col-md-offset-2">
  <h3 class="review_title"><%= @brewery.name %>'s Beers</h3>
    <div class="datatable-style">
      <table id="brewery-beer-table" class="display table table-hover" data-order='[[ 3, "desc" ]]' data-source = "<%= beers_brewery_path(format: :json) %>">
        <thead>
          <tr>
            <th>Name</th>
            <th>Style</th>
            <th>ABV Content</th>
            <th>RateBeer Score</th>
          </tr>
        </thead>

        <tbody>
        </tbody>
      </table>
    </div>
  </div>

  <!-- BREWERY REVIEWS DATATABLE -->
  <div class="col-md-8 col-md-offset-2">

  <% if Review.where(brewery_id: params[:id]).blank? %>
  <div class="form-group row">
    <div class="col-sm-10">
      <h3>No reviews just yet, would you like to add the first!</h3>
      <%= link_to 'Write a Review', new_brewery_review_path(@brewery), class: "btn btn-primary" %>
    </div>
  </div>
  <% else %>
  <h3 class="review_title">Reviews</h3>
  <div class="datatable-style">
  <table id="brewery-review-table" class="display table table-hover" data-source = "<%= brewery_path(format: :json) %>">
    <thead>
      <tr>
        <th>User</th>
        <th>Ambiance</th>
        <th>Service</th>
        <th>Selection</th>
        <th>Food</th>
        <th>Value</th>
        <th>Comment</th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>
  </div>
  <% end %>
  </div>
  <div class="form-group row">
    <div class="col-md-8 col-md-offset-2">
      <% if policy(@brewery).create? %>
      <%= link_to 'Edit', edit_brewery_path(@brewery), class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>
