<!DOCTYPE html>
<html>
<head>
  <title>BrewpubGuru</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
  <!-- Google font -->
  <link href='http://fonts.googleapis.com/css?family=Monoton|Open+Sans' rel='stylesheet' type='text/css'>
  <%= yield :index_head %>
</head>
<body>

      <%= render 'layouts/navigation' %>

    <main role="main">
       <%= devise_error_messages! %>
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
  <footer class="footer">
    <div class="container">
      <a class="navbar-brand text-center" href="/breweries" method="get" style="font-family: 'Monoton', cursive">BrewpubGuru</a>
    </div>
  </footer>
</html>
