<div class="container">
    <h1 class="well">Edit Profile</h1>
    <div class="col-sm-12 well">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3">
          <div class="row">
            <div class="col-sm-9 form-group">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.label :current_password %><br />
            <%= f.password_field :current_password, :class => "form-control" %><i>(we need your current password to confirm your changes)</i>
            </div>
          </div>
        </div>
      </div>
    </div>
	<div class="col-sm-12 well">
	<div class="row">

					<div class="col-sm-9 col-sm-offset-3">
						<div class="row">
							<div class="col-sm-9 form-group">
								<%= f.label :username %><br />
								<%= f.text_field :username, :class => "form-control", autofocus: true %>
							</div>
            </div>
            <div class="row">
							<div class="col-sm-9 form-group">
								<%= f.label :email %><br />
								<%= f.email_field :email, :class => "form-control" %>
							</div>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
            </div>

              <div class="row">
  							<div class="col-sm-9 form-group">
  								<%= f.label :password %><br />
  								<%= f.password_field :password, :class => "form-control", autocomplete: "off" %><i>(leave these password fields blank if you do not wish to change password)</i>
  							</div>
              </div>
              <div class="row">
  							<div class="col-sm-9 form-group">
  								<%= f.label :password_confirmation %><br />
  								<%= f.password_field :password_confirmation, :class => "form-control", autocomplete: "off" %>
  							</div>
              </div>


            <div class="row">
              <div class="col-sm-9">
					      <%= f.submit "Edit", :class => "btn btn-info btn-block"%>
              </div>
            </div>
					</div>
				<% end %>
				</div>
	</div>

  <div class="col-sm-3 col-sm-offset-5 well">
  <h3 class="text-center">Cancel my account</h3>

  <p class="text-center">We're sorry to see you go :( </p>
  <%= button_to "Cancel Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-block center-block" %>
</div>
	</div>
